.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.post {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.img {
    max-width: 100%;
    height: auto;
}
.services h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 20px;
    font-style:oblique;
    font-family: 'Times New Roman', Times, serif;
}
.services .services_container {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.services .services_container .item {
    width: 35%;
    margin: 5%;
    height: 40%;
    position: relative;
    transition: transform 0.8s;
  transform-style: preserve-3d;
}

.services .services_container .item:hover {
    box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, .15);
    transform: rotateY(180deg);
}

.services .services_container .item .item_img {
    width: 80%;
    height: 40%;
    overflow: hidden;
    border-radius: 5%;

}

.services .services_container .item .item_img img {
    width: 80%;
    height: 230px;
}

/* .services {
    padding-bottom: 50px;
} */

.services .services_container .item .item_content {
    text-align: center;
}

.services .services_container .item .item_content h3 {
    padding: 10px;
    font-size: 25px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-style:oblique;
    font-family: 'Times New Roman', Times, serif;
}

.services .services_container .item .item_content p {
    padding: 10px;
    font-size: 15px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-style:oblique;
    font-family: 'Times New Roman', Times, serif;
}

.services .services_container .item .item_content a {
    text-decoration: none;
    margin: 50px;
    padding: 10px 20px;
    background-color: rgb(14, 228, 92);
    color: black;
    /* font-family: 'Courier New', Courier, monospace; */
    font-style:oblique;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
}

.services .services_container .item .item_content a:hover {
    background-color: black;
    color: white;
    border: none;
    border-bottom: 4px solid grey;
    transition: .5s;
}

footer {
    background-color: rgb(240, 231, 237);
    padding: 50px;
}

footer .pages {
    text-align: centre;
}



footer .pages a {
    text-decoration: none;
    margin: 10px;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style:oblique;
}

footer .pages a:hover {
    color: rgb(85, 104, 244);
}

footer .contact {
    text-align: centre;
}

footer .contact h3 {
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-style:oblique;
}

footer .contact a {
    font-size: 30px;
    color: black;
    margin: 10px;
    text-decoration: none;
}

footer .contact a:hover {
    color:rgb(85, 104, 244);
}

footer .social {
    text-align: centre;
}

footer .social h3 {
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px;
    font-style:oblique;
    
}


footer .social a {
    font-size: 25px;
    color: black;
    margin: 5px;
    text-decoration: none;
   
}

footer .social a:hover {
    color:rgb(85, 104, 244);
}


