.body{
    font-style:oblique;
    font-family: 'Times New Roman', Times, serif;
    
}
.navbar-nav a {
    float: left;
    display: block;
    /* color: #f2f2f2; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.imgParent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container {
    /* background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    height: 60vh;
    width: 80vw;
    margin-top: 5%;
    border-radius: 3%;
}
.services h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

.services .services_container {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.services .services_container .item {
    width: 33.33%;
    margin: 10px;
    height: auto;
}

.services .services_container .item:hover {
    box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, .15);
}

.services .services_container .item .item_img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 5%;

}

.services .services_container .item .item_img img {
    width: 100%;
    height: 250px;
}

.services {
    padding-bottom: 50px;
}

.services .services_container .item .item_content {
    text-align: center;
}

.services .services_container .item .item_content h3 {
    padding: 10px;
    font-size: 25px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-style:oblique;
    font-family: 'Times New Roman', Times, serif;
}

.services .services_container .item .item_content p {
    padding: 10px;
    font-size: 15px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-style:oblique;
    font-family: 'Times New Roman', Times, serif;
}

.services .services_container .item .item_content a {
    text-decoration: none;
    margin: 50px;
    padding: 10px 20px;
    background-color: rgb(14, 228, 92);
    color: black;
    /* font-family: 'Courier New', Courier, monospace; */
    font-style:oblique;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
}

.services .services_container .item .item_content a:hover {
    background-color: black;
    color: white;
    border: none;
    border-bottom: 4px solid grey;
    transition: .5s;
}

.services .services_btn {
    text-align: center;
    margin-top: 50px;
}

.services .services_btn a {
    text-decoration: none;
    margin: 50px;
    padding: 10px 20px;
    background-color: rgb(117, 165, 228);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
}

.services .services_btn a:hover {
    background-color: black;
    color: white;
    border: none;
    border-bottom: 4px solid grey;
    transition: .5s;
}


