
#mainform{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

form{
    padding-left: 35px;
    padding-right: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 10px 1em 0 1em;
    background-color: rgba(0, 102, 0,0.5);
    border-radius: 20px;
  }
  
  .form-input{
    width: 100%;
    height: 35px;
    color: #68737d;
    border-radius: 5px;
    border: 1px solid #0099ff;
    padding-left: 10px;
    padding-top: 5px;
  }

.form-container {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.form1 {
    grid-row: span 2;
    grid-column: span 1;
}

.form2 {
    grid-row: span 1;
    grid-column: span 1;
}

.form3 {
    grid-row: span 1;
    grid-column: span 1;
}

.form4 {
    grid-row: span 1;
    grid-column: span 2;
}

.form-container label,
.form-container input {
    margin-bottom: 5px;
}
  
footer {
    background-color: rgb(240, 231, 237);
    padding: 50px;
}

footer .pages {
    text-align: centre;
}



footer .pages a {
    text-decoration: none;
    margin: 10px;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style:oblique;
}

footer .pages a:hover {
    color: rgb(85, 104, 244);
}

footer .contact {
    text-align: centre;
}

footer .contact h3 {
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-style:oblique;
}

footer .contact a {
    font-size: 30px;
    color: black;
    margin: 10px;
    text-decoration: none;
}

footer .contact a:hover {
    color:rgb(85, 104, 244);
}

footer .social {
    text-align: centre;
}

footer .social h3 {
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px;
    font-style:oblique;
    
}


footer .social a {
    font-size: 25px;
    color: black;
    margin: 5px;
    text-decoration: none;
   
}

footer .social a:hover {
    color:rgb(85, 104, 244);
}